* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

#nav-bar {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #030f14;
}
#nav-title {
    margin: 0px 50px;
    font-size: 36px;
    font-weight: bold;
    color: #e7eaec;
}

#main {
    display: flex;
    height: 100%;
    min-height: calc(100vh - 100px);
}

#shelf {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
    gap: 40px;
    padding: 40px;
    background-color: #061921;
}
#book-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
    width: 200px;
    height: 300px;
    padding: 20px;
    background-color: #092735;
}
#book-title {
    width: 180px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #e7eaec;
}
#book-author {
    width: 180px;
    margin-bottom: auto;
    font-size: 20px;
    color: #e7eaec;
}
#book-pages {
    width: 180px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #e7eaec;
}
#book-read {
    width: 180px;
    font-size: 20px;
    color: #e7eaec;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    padding: 40px;
    background-color: #04141a;
}
#controls form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}
#input-title,
#input-author,
#input-pages {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    color: #e7eaec;
    background-color: #0b3142;
}
#input-read-label {
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    color: #e7eaec;
    background-color: #0b3142;
}
#input-read {
    margin-left: 130px;
    transform: scale(1.5);
}
#button-add {
    width: 200px;
    height: 60px;
    margin: 40px auto;
    font-size: 24px;
    border: 0px;
    border-radius: 5px;
    color: #e7eaec;
    background-color: #08222e;
}
#button-add:hover {
    background-color: #092735;
}