:root {
    --text: #e7eaec;
    --nav-bg: #030f14;
    --shelf-bg: #061921;
    --card-bg: #092735;
    --side-bg: #04141a;
    --form-bg: #061921;
    --form-input: #0b3142;
    --button: #092735;
    --button-hover: #08222e;
    --delete: #581919;
    --delete-hover: #471616;
    --toggle: #234655;
    --toggle-hover: #163442;
    --scrollbar: #092735;
    --scrollbar-hover: #223d49;
}
::-webkit-scrollbar {
    width: 26px;
}
::-webkit-scrollbar-track {
    background-color: var(--shelf-bg);
    margin: 10px;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px var(--scrollbar);
    border: solid 9px transparent;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 14px 14px var(--scrollbar-hover);
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
}

#nav-bar {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: var(--nav-bg);
}
#nav-title {
    flex: 0 0 auto;
    margin: 0px 50px;
    font-size: 36px;
    font-weight: bold;
    color: var(--text);
}
#nav-info {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    height: 100%;
    margin: 0px 100px;
}
#info-pages {
    margin: 20px;
    font-size: 16px;
    color: var(--text);
}
#info-books {
    margin: 20px;
    font-size: 16px;
    color: var(--text);
}

#main {
    display: flex;
    height: 100%;
    min-height: calc(100vh - 100px);
}

#shelf {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 180px);
    gap: 40px;
    padding: 40px;
    background-color: var(--shelf-bg);
}
.book-card {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
    width: 200px;
    height: 300px;
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
    background-color: var(--card-bg);
}
.book-label {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--text);
}
.book-title {
    width: 180px;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: var(--text);
}
.book-author {
    width: 180px;
    margin-bottom: auto;
    font-size: 20px;
    color: var(--text);
}
.book-pages {
    width: 180px;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--text);
}
.book-read {
    width: 180px;
    font-size: 20px;
    color: var(--text);
}
.book-delete {
    position: absolute;
    transform: translate(110px, -30px);
    width: 45px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    font-size: 26px;
    text-align: center;
    line-height: 30px;
    color: var(--text);
    background-color: var(--delete);
    opacity: 0;
}
.book-delete:hover {
    background-color: var(--delete-hover);
}
.book-toggle {
    position: absolute;
    transform: translate(-110px, -30px);
    width: 45px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    font-size: 26px;
    text-align: center;
    line-height: 24px;
    color: var(--text);
    background-color: var(--toggle);
    opacity: 0;
}
.book-toggle:hover {
    background-color: var(--toggle-hover);
}

#side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;
    background-color: var(--side-bg);
}
#input-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--form-bg);
}
#input-title,
#input-author,
#input-pages {
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    color: var(--text);
    background-color: var(--form-input)
}
#input-read-label {
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    color: var(--text);
    background-color: var(--form-input);
}
#input-read {
    margin-left: 130px;
    transform: scale(1.5);
}
#input-submit {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    font-size: 24px;
    border: 0px;
    border-radius: 5px;
    color: var(--text);
    background-color: var(--button);
}
#input-submit:hover {
    background-color: var(--button-hover);
}
#random-book {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    color: var(--text);
    background-color: var(--button);
}
#random-book:hover {
    background-color: var(--button-hover);
}
#delete-library {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    color: var(--text);
    background-color: var(--delete);
}
#delete-library:hover {
    background-color: var(--delete-hover);
}